<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="card" method="POST" action="/getExchangeRate">
        <input type="hidden" id="serviceIds" name="serviceIds" value="">
        <button type="submit" class="custom-btn btn btn-primary" name="buyServices">Comprar ahora <span
                id="totalPrice"></span>$</button>
    </form>
</body>
</html>